<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-6">Education</h1>
            <p class="lead">Education is a right path to get you goal.</p>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <h4>Tutorials</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Javascript</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">HTML</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CSS</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-info margin-top-10 right" routerLink="/courses">More tutorials
                &gt;&gt;</button>
        </div>
        <div class="clear-both"></div>
        <div class="section">
            <h4>Interviews</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Javascript</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">HTML</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CSS</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-info margin-top-10 right" routerLink="/courses">More tutorials
                &gt;&gt;</button>
        </div>
        </div>
</div>